*{
    margin: 0;
    padding: 0;
    background-color: #1a1312;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
nav{
    display: flex;
    justify-content: center;
}
#nav{
    display: flex;
    width: 96%;
    height: 100px;
    align-items: center;
    padding: 0 40px;
    border-radius: 12px;
    /* border: 1px solid white; */
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 25px;
    justify-content: space-between;
    
}

#logo{
    display: flex;
    align-items: center;
    font-size: 35px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
    margin-left: 50px;
}
#logo a:hover{
    color: wheat;
}
#logo a{
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
}
#logo a img{
    height: 45px;
    width: auto;
    margin-top: 8px;
    object-fit: cover;
    background: rgba(255, 255, 255, 0);
}
#nav-btn{
    background: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
}
#nav-btn ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    list-style-type: disc;
    gap: 36px;
    list-style-type: none;
    background: rgba(255, 255, 255, 0);
}
#mobile_nav-btn{
    display: none;
}
#nav-btn ul a li{
    background: rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 8px 14px;
}
#nav-btn ul a li:hover{
    color: wheat;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px 14px;
    border-radius: 6px;
    border: 1px solid wheat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.active{
    color: wheat;
}
#nav-btn ul a{
    text-decoration: none;
    background: rgba(255, 255, 255, 0);
}

@media screen and (max-width: 1095px){
    #nav{
        height: 80px;
    }
    #logo a img{
        height: 35px;
        margin-left: -20px;
    }
}
#page1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    /* gap: 25vw; */
}
#page1-left-content{
    margin-top: 7%;
    padding-left: 7%;
    padding-right: 10%;
}
#page1-right-content{
    /* width: 40%; */
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: right;
    /* padding-right: 40px; */
}
#social-media-links{
    min-width: 70px;
    min-height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 8px;
    margin: 0 20px;
}
#social-media-links a{
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
}
#social-media-links a i{
    font-size: 35px;
    transition: all ease 0.15s;
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
}
#social-media-links i:hover{
    color: wheat;
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(12px);
}

@media screen and (max-width: 1325px) {
    #page1-right-content{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-direction: row;
        margin-top: 100px;
    }
    #social-media-links{
        flex-direction: row;
        background-color: red;
    }
}


#line-1{
    font-size: 30px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    /* border: 1px solid white; */

}
#name{
    font-size: 100px;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    margin-top: 15px;
}

#front-end{
    font-size: 32px;
    font-weight: 400;
    background: rgba(255, 255, 255, 0);
}
#Front-End-line u{
    color: wheat;
    font-weight: 550;
}



/* @media screen and (max-width: 1250px){
    #name{
        font-size: 80px;
    }
} */
@media screen and (max-width: 1095px){
    #name{
        font-size: 70px;
    }
    #line-1{
        font-size: 22px;
    }
    #front-end{
        font-size: 22px;
    }
    #Front-End-line u{
        font-size: 22px;
    }
}
/*@media screen and (max-width: 900px){
    #name{
        font-size: 50px;
    }
    #line-1{
        font-size: 17px;
    }
    #front-end{
        font-size: 17px;
    }
    #Front-End-line u{
        font-size: 17px;
    }
}
@media screen and (max-width: 660px){
    #name{
        font-size: 40px;
    }
    #line-1{
        font-size: 13px;
    }
    #front-end{
        font-size: 13px;
    }
    #Front-End-line u{
        font-size: 13px;
    }
}
@media screen and (max-width: 500px){
    #name{
        font-size: 35px;
    }
    #line-1{
        padding-top: 30px;
    }
} */
#container{
    margin-top: 70px;
    display: inline-block;
    margin-left: 5px;
}
#container button{
    padding: 10px 14px;
    font-weight: 520;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    border: 1.5px solid white;
}
#container button i{
    margin-left: 6px;
    background: rgba(255, 255, 255, 0);
}
#container button:hover{
    color: wheat;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid wheat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
/* #container button:focus{
    color: wheat;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid wheat;
    box-shadow: 0px 0px 8px rgba(245, 222, 179, 0.4);
} */
#about-me{
    margin-top: 20px;
    padding: 20px 25px;
    border-radius: 10px;
    transition: all 0.4s ease;
    background: rgba(255, 255, 255, 0.013);
    backdrop-filter: blur(12px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    max-width: 800px;
    margin-right: 10%;
}
#about-me p{
    background: rgba(255, 255, 255, 0);
    line-height: 25px;
}
#about-me button{
    margin-top: 15px;
}
#about-me button:hover{
    color: wheat;
    transition: all ease 0.3s;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid wheat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.burger{
    background: rgba(255, 255, 255, 0);
    cursor: pointer;
    font-size: 30px;
    display: none;
    color: #ffffff;
    transition: all 0.3s ease;
}
.burger:hover, .burger:focus{
    color: wheat;
}
#dropdown{
    display: inline-block;
    transition: all 0.3s ease;
    position: relative;
}
@media screen and (min-width: 1165px) {
    #dropdown{
        display: none;
    }
}
.dropdown-content{
    border-radius: 10px;
    display: none;
    position: absolute;
    right: 0;
    top: 35px;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    z-index: 1;
    transition: all 0.3s ease;
}
.dropdown-content a{
    text-decoration: none;
}
.dropdown-content li{
    color: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.035);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.dropdown-content li:hover{
    background: rgba(255, 255, 255, 0.1);
    color: wheat;
}
@media screen and (max-width: 1165px) {
    .burger{
        display: block;
    }  
    #nav-btn{
        display: none;
    }
}


